            <div class="contactNav">
                <div class="contactNavLeft">
                    <h3>Hafa samband</h3>
                    <p>Hægt er að hafa samband við mig í gegnum <a href="https://www.facebook.com/viktor.pajdak">Facebook</a></p>
                    <p>Síma: <b>869-4080</b></p>
                    <p>Senda póst á <b>vip9@hi.is</b></p>
                </div>
                <div class="contactNavRight"><img src="/images/samband.png" alt="Contact" /></div>
            </div>
            <div class="headInfo">
                <div class="row featurette">
                    <div class="col-md-6">
                        <p>Ég heiti <b>Viktor Pajdak</b> og er að klára BS í <b>hugbúnaðarverkfræði</b> við Háskóla Íslands núna í vor 2016. Ég lauk stúdentsprófi frá <b>Menntaskólanum í Reykjavík</b> sumarið 2013 með fyrstu einkunn. </p>
                        <p>Ég hef alltaf haft mikinn áhuga á tölvum og tækni og eftir að hafa tekið valfag í forritun lokaárið mitt í menntaskóla var framtíðarnám ákveðið. Hef fiktað mikið við forritun utan skólans og gert m.a. þessa vefsíðu og aðrar, android app, tölvuleiki og önnur forrit. </p>
                        <p><b>Vona að þú takir þér smá tíma til þess að skoða síðuna og hafir 
                        samband við mig ef einhver störf eru í boði hjá ykkur. </b></p>
                        <p>Með fyrirfram þökk, Viktor Pajdak. </p>
                    </div>
                    <a href="images/Ferilskra-ViktorP.pdf" target="blank">
                        <div class="col-md-3 headFerilskra">
                            <p class="headFerilskraOverlay"><b>Ferilskrá PDF</b></p><img src="/images/ferilskra.png" alt="CV" /></div>
                    </a>
                    <div class="col-md-3 headImage"><img class="contentImage" src="/images/eg2.png" alt="Myphoto"></div>
                </div>
            </div>
            <!-- MENNTUN -->
            <a id="education"></a>
            <h1>Menntun</h1>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='8_1'>
                    <div class="first">Háskóli Íslands</div>
                    <div class="second"><img class="lazy" data-original="images/hi.png" alt="HI"></div>
                </div>
                <div class="cvContent" id='8_2'>
                    <div class="first">Menntaskólinn í Reykjavík</div>
                    <div class="second"><img class="lazy" data-original="images/mr.jpg" alt="MR"></div>
                </div>
                <div class="cvContent" id='8_3'>
                    <div class="first">Grunnskóli</div>
                    <div class="second"><img class="lazy" data-original="images/logo.jpg" alt="Grunnskoli"></div>
                </div>
                <div class="contentBox" id="8"></div>
            </div>
            <div class="divider"></div>
            <!-- STARFSREYNSLA -->
            <a id="work"></a>
            <h1>Starfsreynsla</h1>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='1_1'>
                    <div class="first">2014 - 2015
                        <br> Leiðbeinandi í Vinnuskóla Reykjavíkurborgar</div>
                    <div class="second"><img class="lazy" data-original="images/rvk.jpg" alt="Reykjavik"></div>
                </div>
                <div class="cvContent" id='1_2'>
                    <div class="first">2011 - 2013
                        <br> Verkamaður við bæjarframkvæmdir, Þjónustumiðstöð, Reykjavíkurborg</div>
                    <div class="second"><img class="lazy" data-original="images/baejarvinnan.png" alt="WorkTown"></div>
                </div>
                <div class="cvContent" id='1_3'>
                    <div class="first">2011 -
                        <br> Kosningar</div>
                    <div class="second"><img class="lazy" data-original="images/voting.png" alt="Voting"></div>
                </div>
                <div class="cvContent" id='1_4'>
                    <div class="first">2008 - 2010
                        <br> Vinnuskóli Reykjavíkur</div>
                    <div class="second"><img class="lazy" data-original="images/unglingavinnan.png" alt="WorkEasy"></div>
                </div>
                <div class="contentBox" id="1"></div>
            </div>
            <div class="divider"></div>
            <!-- KUNNÁTTA -->
            <a id="knowledge"></a>
            <h1>Kunnátta</h1>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='2_1'>
                    <div class="first">Java</div>
                    <div class="second"><img class="lazy" data-original="images/java.png" alt="Java"></div>
                </div>
                <div class="cvContent" id='2_2'>
                    <div class="first">Önnur Forritunarmál</div>
                    <div class="second"><img class="lazy" data-original="images/programlanguage.png" alt="Programming"></div>
                </div>
                <div class="cvContent" id='2_3'>
                    <div class="first">Vefforritun</div>
                    <div class="second"><img class="lazy" data-original="images/vefforritun.png" alt="WebsiteProgramming"></div>
                </div>
                <div class="cvContent" id='2_4'>
                    <div class="first">Tölvuleikjaforritun</div>
                    <div class="second"><img class="lazy" data-original="images/game.png" alt="Game"></div>
                </div>
                <div class="contentBox" id="2"></div>
            </div>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='3_1'>
                    <div class="first">Tölvugrafík</div>
                    <div class="second"><img class="lazy" data-original="images/graphic3d.png" alt="3DGraphics"></div>
                </div>
                <div class="cvContent" id='3_2'>
                    <div class="first">Hugbúnaðarverkefni</div>
                    <div class="second"><img class="lazy" data-original="images/isfar3.png" alt="IsFar"></div>
                </div>
                <div class="cvContent" id='3_3'>
                    <div class="first">Android app</div>
                    <div class="second"><img class="lazy" data-original="images/appstore.png" alt="Android"></div>
                </div>
                <div class="cvContent" id='3_4'>
                    <div class="first">Samskipta forrit</div>
                    <div class="second"><img class="lazy" data-original="images/samskipti.png" alt="ContactPrograms"></div>
                </div>
                <div class="contentBox" id="3"></div>
            </div>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='4_1'>
                    <div class="first">Gagnagrunnar</div>
                    <div class="second"><img class="lazy" data-original="images/gagnagrunnar.png" alt="Database"></div>
                </div>
                <div class="cvContent" id='4_2'>
                    <div class="first">Öryggi tölvukerfa</div>
                    <div class="second"><img class="lazy" data-original="images/security.jpg" alt="Security"></div>
                </div>
                <div class="cvContent" id='4_3'>
                    <div class="first">EH meira?</div>
                    <div class="second"><img class="lazy" data-original="images/black.jpg" alt="Black"></div>
                </div>
                <div class="cvContent" id='4_4'>
                    <div class="first">EH meira?</div>
                    <div class="second"><img class="lazy" data-original="images/black.jpg" alt="Black"></div>
                </div>
                <div class="contentBox" id="4"></div>
            </div>
            <div class="lazy" data-original="images/bg.png">
                <div class="cvContent" id='6_1'>
                    <div class="first">Tungumál</div>
                    <div class="second"><img class="lazy" data-original="images/flags.png" alt="Flags"></div>
                </div>
                <div class="cvContent" id='6_2'>
                    <div class="first">Stýrikerfi</div>
                    <div class="second"><img class="lazy" data-original="images/ios.jpg" alt="iOS"></div>
                </div>
                <div class="cvContent" id='6_3'>
                    <div class="first">Office</div>
                    <div class="second"><img class="lazy" data-original="images/office2.png" alt="Office"></div>
                </div>
                <div class="cvContent" id='6_4'>
                    <div class="first">Tónlistarforrit / Klippiforrit</div>
                    <div class="second"><img class="lazy" data-original="images/vegas.jpg" alt="Vegas"></div>
                </div>
                <div class="contentBox" id="6"></div>
            </div>
            <div class="divider"></div>