    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferilskrá - Viktor Pajdak</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/content.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway' rel='stylesheet' type='text/css'>
    <!-- Jquery and scripts -->
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/main.js"></script>
