<!DOCTYPE html>
<html lang="is">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <% include ../partials/content %>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <!-- Lazy loading -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="javascripts/jquery.lazyload.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- For mobile -->
        <script src="stylesheets/bootstrap/bootstrap.min.js"></script>
    </body>
</html>